#Command to format code, sort imports, and check for style issues
#black . && isort . && flake8 . 
[flake8]
exclude = venv, migrations, __pycache__
max-line-length = 192
extend-ignore = E203, W503, E302
